@import 'variables';

pg-body {
    background-color: $mono-4;
}

pg-body-gradient {
    background: linear-gradient(to bottom right, $gradient-start ,$gradient-end );
}

// Page Title
h1{
    font-family: $header-font !important;
    text-transform: capitalize !important;
    font-size: 25px !important;
    color: $regular !important;
    text-align: left;
}
//  Page's summary Headers on top
h2{
    font-family: $header-font !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}
// Page Summary Results

h3{
    font-family: $body-font !important;
    color: $primary !important;
    text-transform: uppercase !important;
    font-size: 30px !important;
    letter-spacing: 1.5px !important;
    font-weight: bold !important;
    margin-top: 5px !important;
}

h4{
    font-family: $header-font;
    color: $mono-2;
    text-transform: capitalize;
}

link{
    font-family: $body-font;
    font-size: 12px;
    color: $gradient-end;
}
 h5, h6, p, a{
    font-family: $body-font;
}
 
.card-container{
    background-color: white !important;
    // padding: 20px !important;
    margin: 10px !important;
    // margin: 20px !important;
    width: 100% !important;
}
.card-header{
    // height: 25px;
    background-color: white !important;
    text-align: left !important;
}
.table{
  padding: 20px;
  padding-top: 10px;

}
.table-row-header{
    background-color: $mono-4;
    border-bottom: 1px $mono-2;
    height:25px;
}
.table-row-body{
    border-bottom: 1px $mono-2;
    height:25px;
}
.button {
    border-radius: 20px !important;
    margin-right: 0px !important;
    background-color: $gradient-start;
    width: 100px;
    text-align: center;
}

button-text{
    font-size: 14px;
    color: $mono-4;
    padding: auto;
}

.table {
    border-radius: 0px !important;
    overflow: auto;
}

.nav-border-bottom {
    border-bottom: 1px solid $mono-3;
}

.overview-border-bottom {
    border-bottom: 2px solid $mono-3;
    margin: 0px !important;
    padding: 10px 0px 10px 0px !important;
}

.nav-border-left {
    border-left: 1px solid $mono-3;
}

.div-row {
    margin-top: 30px;
}

.summary-info-icon{ 
    cursor: pointer; 
}

.tab-header-active{
    background-color: $primary !important;
    color: white !important;
    margin-right: 2px !important;
}

.tab-header-notactive{
    background-color: $mono-3 !important;
    color: black !important;
    margin-right: 2px !important;
}

.card-subheader{
    font-family: $header-font !important;
    font-size: 14px !important;
    margin: 10px 0px 0px 10px !important;
    font-weight:bold;
}

.grad {
    background: linear-gradient($primary, $secondary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 42%;
}

span.popup {
    height: 0;
    color: black;
    position: relative;
    cursor: pointer;
  
    &:after {
      content: attr(data-popuptext);
      background: $primary;
      border-radius: 3px;
      opacity: 0;
      top: 0;
      left: 0;
      position: absolute;
      transition: 500ms ease;
      white-space: nowrap;
      max-height: 0;
      color: white;
    }
    
    &:hover:after {
      opacity: 1;
      top: 1.2em;
      max-height: 200px;
      padding: .4em;
    }
  }

.ui.selection.dropdown.dropdown-selector, 
.multiple.search.selection.dropdown.multiple-dropdown-selector, 
.ui.selection.dropdown.duration-selector, 
.ui.multiple.search.selection.dropdown.store-selector {
    border-radius: 19px;
}
.visible.menu.transition, .ui.active.visible.selection.dropdown.dropdown-selector {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    &[aria-expanded="true"] {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}
.alchemistProduct {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    margin: 12px;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    color: #d4d4d5;
    position: relative;
    cursor: pointer;
}

.alchemistProductActive {
    box-shadow: 0 1px 3px 0 #f88186, 0 0 0 1px #f88186 !important;
    margin: 12px;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    color: #f88186;
    position: relative;
    cursor: pointer;
}

.alchemistProduct p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alchemistProductActive p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
