// Import
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,600');

// Color
$primary: #F48882;
$secondary: #F7A885;
$gradient-start: #f88186;
$gradient-end: #0f309f;
$regular: #111210;
$hover: #282A25;
$mono-1: #707070;
$mono-2: #999999;
$mono-3: #F0F0F0; //line separator
$mono-4: #F9F9F9;

// Font
$header-font: 'Montserrat', 'sans-seriff'; //set spacing to 1.25
$body-font: 'Lato', 'sans-seriff';