@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,600");
pg-body {
  background-color: #F9F9F9; }

pg-body-gradient {
  background: linear-gradient(to bottom right, #f88186, #0f309f); }

h1 {
  font-family: "Montserrat", "sans-seriff" !important;
  text-transform: capitalize !important;
  font-size: 25px !important;
  color: #111210 !important;
  text-align: left; }

h2 {
  font-family: "Montserrat", "sans-seriff" !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  margin-bottom: 0px !important; }

h3 {
  font-family: "Lato", "sans-seriff" !important;
  color: #F48882 !important;
  text-transform: uppercase !important;
  font-size: 30px !important;
  letter-spacing: 1.5px !important;
  font-weight: bold !important;
  margin-top: 5px !important; }

h4 {
  font-family: "Montserrat", "sans-seriff";
  color: #999999;
  text-transform: capitalize; }

link {
  font-family: "Lato", "sans-seriff";
  font-size: 12px;
  color: #0f309f; }

h5, h6, p, a {
  font-family: "Lato", "sans-seriff"; }

.card-container {
  background-color: white !important;
  margin: 10px !important;
  width: 100% !important; }

.card-header {
  background-color: white !important;
  text-align: left !important; }

.table {
  padding: 20px;
  padding-top: 10px; }

.table-row-header {
  background-color: #F9F9F9;
  border-bottom: 1px #999999;
  height: 25px; }

.table-row-body {
  border-bottom: 1px #999999;
  height: 25px; }

.button {
  border-radius: 20px !important;
  margin-right: 0px !important;
  background-color: #f88186;
  width: 100px;
  text-align: center; }

button-text {
  font-size: 14px;
  color: #F9F9F9;
  padding: auto; }

.table {
  border-radius: 0px !important;
  overflow: auto; }

.nav-border-bottom {
  border-bottom: 1px solid #F0F0F0; }

.overview-border-bottom {
  border-bottom: 2px solid #F0F0F0;
  margin: 0px !important;
  padding: 10px 0px 10px 0px !important; }

.nav-border-left {
  border-left: 1px solid #F0F0F0; }

.div-row {
  margin-top: 30px; }

.summary-info-icon {
  cursor: pointer; }

.tab-header-active {
  background-color: #F48882 !important;
  color: white !important;
  margin-right: 2px !important; }

.tab-header-notactive {
  background-color: #F0F0F0 !important;
  color: black !important;
  margin-right: 2px !important; }

.card-subheader {
  font-family: "Montserrat", "sans-seriff" !important;
  font-size: 14px !important;
  margin: 10px 0px 0px 10px !important;
  font-weight: bold; }

.grad {
  background: linear-gradient(#F48882, #F7A885);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 42%; }

span.popup {
  height: 0;
  color: black;
  position: relative;
  z-index: 1000;
  cursor: pointer; }
  span.popup:after {
    content: attr(data-popuptext);
    background: #F48882;
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
    color: white; }
  span.popup:hover:after {
    opacity: 1;
    top: 3.2em;
    max-height: 400px;
    padding: .4em; }

span.popup2 {
  height: 0;
  color: black;
  position: relative;
  cursor: pointer; }
  span.popup2:after {
    content: attr(data-popuptext);
    background: #F48882;
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
    color: white; }
  span.popup2:hover:after {
    opacity: 1;
    top: 3.2em;
    margin-left: -170px;
    max-height: 400px;
    padding: .4em; }

.ui.selection.dropdown.dropdown-selector,
.multiple.search.selection.dropdown.multiple-dropdown-selector,
.ui.selection.dropdown.duration-selector,
.ui.multiple.search.selection.dropdown.store-selector {
  border-radius: 19px; }

.visible.menu.transition, .ui.active.visible.selection.dropdown.dropdown-selector {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important; }
  .visible.menu.transition[aria-expanded="true"], .ui.active.visible.selection.dropdown.dropdown-selector[aria-expanded="true"] {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important; }
    .alchemistProduct {
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
      margin: 12px;
      height: 120px;
      width: 120px;
      border-radius: 5px;
      font-size: 14px;
      color: #d4d4d5;
      position: relative;
      cursor: pointer;
  }
  
  .alchemistProductActive {
      box-shadow: 0 1px 3px 0 #f88186, 0 0 0 1px #f88186 !important;
      margin: 12px;
      height: 120px;
      width: 120px;
      border-radius: 5px;
      font-size: 14px;
      color: #f88186;
      position: relative;
      cursor: pointer;
  }
  
  .alchemistProduct p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .alchemistProductActive p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius:  0px !important;
}